body {
	background-color: lightgray;
}

body main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body main .teams-card {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;
}

body main .teams-card .team-card {
	margin: auto;
	width: 85%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
}

body main .teams-card .team-card a {
	width: 200px;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 25px;
}

body main .teams-card .team-card img {
	width: 160px;
	height: 120px;
	padding: 15px;
}

body main .teams {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

body main .teams .team {
	width: 95%;
	padding: 50px;
}

body main .teams .team .cont-team {
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 95%;
	padding: 25px;
}

body main .teams .team .cont-team a {
	margin: auto;
	text-decoration: none;
	color: red;
	filter: drop-shadow(2px 2px 3px black);
}

body main .teams .team .cont-team .equipo-team {
	display: flex;
	text-align: center;
	flex-direction: column;
}

body main .teams .team .cont-team .equipo-team img {
	width: 75%;
	filter: drop-shadow(4px 4px 2px black);
	margin: auto;
	padding: 25px;
}

body main .teams .team .cont-team .pilotos-team {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

body main .teams .team .cont-team .pilotos-team img {
	width: 250px;
	filter: drop-shadow(3px 3px 5px black);
}

body main .teams .team .cont-team .pilotos-team h5 {
	text-align: center;
	padding: 25px;
}

.sombra_ferrari {
	filter: drop-shadow(3px 3px 8px #dc0000);
}

.sombra_redbull {
	filter: drop-shadow(3px 3px 8px #0600ef);
}

.sombra_astonmartin {
	filter: drop-shadow(3px 3px 8px #358c75);
}

.sombra_hass {
	filter: drop-shadow(3px 3px 8px black);
}

.sombra_alpine {
	filter: drop-shadow(3px 3px 8px #0090ff);
}

.sombra_mclaren {
	filter: drop-shadow(3px 3px 8px #ff8000);
}

.sombra_stake {
	filter: drop-shadow(3px 3px 8px #83f52c);
}

.sombra_mercedes {
	filter: drop-shadow(3px 3px 8px #00d2be);
}

.sombra_williams {
	filter: drop-shadow(3px 3px 8px #005aff);
}

body #volver img {
	position: fixed;
	bottom: 50px;
	right: 70px;
	width: 8%;
	border-radius: 50%;
	display: none;
}

/* modal */

body .modal {
	width: 100%;
	height: 100%;
	display: none;
}

body .modal .modal_content {
	width: 75%;
	height: 95%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../img/Bandera_a_Cuadro.jpg), no-repeat, center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 45px;
}

body .modal .modal_content .datos,
body .modal .modal_content h3,
body .modal .modal_content .content_text_modal .text_modal {
	width: 95%;
	padding: 35px;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	color: #b9935a;
	text-shadow: 3px 3px 2px black;
}

body .modal .modal_content .datos h3 {
	text-align: center;
	font-size: 2rem;
}

body .modal .modal_content .datos .context_text_teams {
	display: flex;
	padding: 25px;
	column-gap: 50px;
}

body .modal .modal_content .datos .context_text_teams .datos_scuderia {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

body .modal .modal_content .datos .context_text_teams .hist_scuderia {
	width: 60%;
}

body .modal .modal_content .btn_modal button {
	width: 70%;
	font-size: 1.1rem;
	background: none;
	color: red;
	border: none;
	font-weight: bold;
}

body .modal .modal_content .content_text_modal {
	width: 95%;
	padding: 35px;
	display: flex;
	column-gap: 25px;
}

body .modal .modal_content h3 {
	text-align: center;
	font-size: 2rem;
}

body .modal .modal_content .content_text_modal .text_modal {
	width: 65%;
}

body .modal .modal_content .content_text_modal .img_piloto_modal {
	width: 35%;
	display: flex;
}

body .modal .modal_content .content_text_modal .img_piloto_modal img {
	width: 250px;
	margin: auto;
	background: white;
}
