@media (768px <= width < 1024px) {
}

@media (500px <= width < 768px) {
	footer {
		color: yellow;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	}

	body header .menu-bar {
		flex-direction: column;
	}

	header nav .loguitoUno {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header nav .menu-nabvar {
		font-size: 0.75rem;
		padding-bottom: 60px;
		width: 100%;
	}

	body header .hero {
		grid-template-areas:
			"hero-img"
			"hero-text";
	}

	main .container-news {
		flex-direction: column;
	}

	main .container-news .news {
		width: 100%;
	}

	main .container-news .stadistics {
		width: 100%;
		display: flex;
	}
}

@media (320px <= width < 500px) {
	body header .menu-bar {
		flex-direction: column;
	}

	header nav .loguitoUno {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header nav .menu-nabvar {
		font-size: 0.75rem;
		width: 100%;
	}

	main .container-news .stadistics {
		width: 100%;
		flex-direction: column;
	}

	main .container-news {
		flex-direction: column;
	}

	main .container-news .news {
		width: 100%;
	}

	main .container-news .news .card {
		width: 95%;
		height: auto;
	}

	header .hero .hero-img {
		display: none;
	}
}
