/* Index Esquema */

body header {
	display: grid;
	grid-template: repeat(2, auto) / 100%;
	grid-template-areas:
		"hero"
		"menu-navbar";
	row-gap: 35px;
}

body header .hero {
	display: grid;
	grid-template: repeat(2, auto) / 100%;
	grid-template-areas:
		"h_img"
		"h_text";
}

body header .hero .hero-text {
	grid-area: h_text;
}

body header .hero .hero-img {
	grid-area: h_img;
}

body header .menu-bar .menu-nabvar {
	grid-area: menu-navbar;
}

body main .container-news {
	display: grid;
	grid-template: repeat(2, auto) / 100%;
	grid-template-areas:
		"news"
		"stadistics";
}

body main .container-news .news {
	grid-area: news;
}

body main .container-news .stadistics {
	grid-area: stadistics;
	display: grid;
	grid-template: repeat(2, auto) / 100%;
	grid-template-areas:
		"pilotos"
		"equipos";
}

body main .container-news .stadistics .pos_Pilotos {
	grid-area: pilotos;
}

body main .container-news .stadistics .pos_Equipos {
	grid-area: equipos;
}

body main .teams-list {
}

body footer {
	display: grid;
	grid-template: repeat(2, auto) / 100%;
	grid-template-areas:
		"title-f1"
		"redes";
	row-gap: 15px;
}

body footer .title-f1 {
	grid-area: title-f1;
}

body footer .redes {
	grid-area: redes;
}

/* Valores para Query Mobile Vertical */

@media (300px <= width <= 650px) {
	header .hero .hero-img {
		width: 300px;
	}

	header .hero .hero-text {
		font-size: 1.2rem;
	}

	header nav .menu-nabvar li a {
		font-size: 0.9rem;
	}

	main .container-news .news .card {
		width: 90%;
	}

	main .container-news .news .card img {
		height: 180px;
		background-size: cover;
	}

	main .container-news .stadistics .pos_Pilotos img {
		width: 100%;
	}

	main .container-news .stadistics .pos_Equipos img {
		width: 100%;
	}

	footer .title-f1 h3 {
		font-size: 1.8rem;
	}

	footer .redes .redes-boot a img {
		width: 30px;
	}
}

/* Valores para Query Mobile Landscape */

@media (651px <= width < 833px) {
	main .container-news .news .card {
		width: 85%;
	}

	main .container-news .stadistics .pos_Pilotos img,
	main .container-news .stadistics .pos_Equipos img {
		width: 90%;
	}
}

/* Valores para Query Tablet Vertical and Landscape */

@media (834px <= width < 1023px) {
	body header .hero {
		grid-template-columns: 40% 60%;
		grid-template-areas: "h_img h_text";
	}

	body header .menu-bar .menu-nabvar {
		flex-direction: row;
	}

	body main .container-news {
		grid-template-columns: 60% 40%;
		grid-template-areas: "news stadistics";
	}

	main .container-news .stadistics .pos_Pilotos img,
	main .container-news .stadistics .pos_Equipos img {
		width: 100%;
	}

	body footer {
		grid-template-columns: 30% 70%;
		grid-template-areas: "title-f1 redes";
	}
}

/* Valores para Query Notebook y Monitor */

@media (1024px <= width < 1440px) {
	body header .hero {
		grid-template-columns: 40% 60%;
		grid-template-areas: "h_img h_text";
	}

	body header .menu-bar .menu-nabvar {
		flex-direction: row;
	}

	body main .container-news {
		grid-template-columns: 60% 40%;
		grid-template-areas: "news stadistics";
	}

	main .container-news .stadistics .pos_Pilotos img,
	main .container-news .stadistics .pos_Equipos img {
		width: 100%;
	}

	body footer {
		grid-template-columns: 30% 70%;
		grid-template-areas: "title-f1 redes";
	}
}
