/* Index Esquema */

body header {
	display: grid;
	grid-template: repeat(2, auto) / 100%;
	grid-template-areas:
		"hero"
		"menu-navbar";
	row-gap: 35px;
}

body header .hero {
	display: grid;
	grid-template: repeat(2, auto) / 100%;
	grid-template-areas:
		"h_img"
		"h_text";
}

body header .hero .hero-text {
	grid-area: h_text;
}

body header .hero .hero-img {
	grid-area: h_img;
}

body header .menu-bar .menu-nabvar {
	grid-area: menu-navbar;
}

body main .container-news {
	display: grid;
	grid-template: repeat(2, auto) / 100%;
	grid-template-areas:
		"news"
		"stadistics";
}

body main .container-news .news {
	grid-area: news;
}

body main .container-news .stadistics {
	grid-area: stadistics;
	display: grid;
	grid-template: repeat(2, auto) / 100%;
	grid-template-areas:
		"pilotos"
		"equipos";
}

body main .container-news .stadistics .pos_Pilotos {
	grid-area: pilotos;
}

body main .container-news .stadistics .pos_Equipos {
	grid-area: equipos;
}

body footer {
	display: grid;
	grid-template: repeat(2, auto) / 100%;
	grid-template-areas:
		"title-f1"
		"redes";
	row-gap: 15px;
}

body footer .title-f1 {
	grid-area: title-f1;
}

body footer .redes {
	grid-area: redes;
}

@media (830px <= width < 915px) {
	main .container-news .news .card {
		width: 85%;
	}

	main .container-news .news .card .card-img-overlay h6 {
		font-size: 1.1rem;
	}

	main .container-news .news .card .card-img-overlay p {
		font-size: 0.9rem;
	}

	main .container-news .stadistics .pos_Pilotos img,
	main .container-news .stadistics .pos_Equipos img {
		width: 90%;
	}

	/* Cronograma */
	body .modal .modal_content .content_text_modal {
		flex-direction: row;
	}

	body .modal .modal_content .content_text_modal .text_modal {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	/* Equipos */

	body #volver img {
		width: 8%;
	}
}

@media (916px <= width < 1023px) {
	body header .hero {
		grid-template-columns: 40% 60%;
		grid-template-areas: "h_img h_text";
	}

	body header .menu-bar .menu-nabvar {
		flex-direction: row;
	}

	body main .container-news {
		grid-template-columns: 60% 40%;
		grid-template-areas: "news stadistics";
	}

	main .container-news .news .card .card-img-overlay h6 {
		font-size: 1.1rem;
	}

	main .container-news .news .card .card-img-overlay p {
		font-size: 0.9rem;
	}

	main .container-news .stadistics .pos_Pilotos img,
	main .container-news .stadistics .pos_Equipos img {
		width: 100%;
	}

	body footer {
		grid-template-columns: 30% 70%;
		grid-template-areas: "title-f1 redes";
	}

	/* Cronograma */
	body .modal .modal_content .content_text_modal {
		flex-direction: row;
	}

	body .modal .modal_content .content_text_modal .text_modal {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	/* Equipos */

	body main .teams .team .cont-team .pilotos-team {
		flex-direction: row;
		column-gap: 35px;
	}
}

@media (1024px <= width < 1440px) {
	body header .hero {
		grid-template-columns: 40% 60%;
		grid-template-areas: "h_img h_text";
	}

	body header .menu-bar .menu-nabvar {
		flex-direction: row;
	}

	body main .container-news {
		grid-template-columns: 60% 40%;
		grid-template-areas: "news stadistics";
	}

	main .container-news .news .card .card-img-overlay h6 {
		font-size: 1.1rem;
	}

	main .container-news .news .card .card-img-overlay p {
		font-size: 0.9rem;
	}

	main .container-news .stadistics .pos_Pilotos img,
	main .container-news .stadistics .pos_Equipos img {
		width: 100%;
	}

	body footer {
		grid-template-columns: 30% 70%;
		grid-template-areas: "title-f1 redes";
	}

	/* Cronograma */

	body .modal .modal_content {
		width: 55%;
	}

	body .modal .modal_content .content_text_modal {
		flex-direction: row;
	}

	body .modal .modal_content .content_text_modal .text_modal {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	body .modal .modal_content .content_text_modal .img_piloto_modal img {
		width: 250px;
	}

	/* Equipos */

	body #volver img {
		width: 9%;
	}

	body main .teams .team .cont-team .equipo-team img {
		width: 600px;
	}
	body main .teams .team .cont-team .pilotos-team {
		flex-direction: row;
		column-gap: 200px;
	}

	body .modal .modal_content .datos .context_text_teams {
		flex-direction: row;
		column-gap: 35px;
	}

	body .modal .modal_content .datos .context_text_teams .datos_scuderia {
		width: 40%;
	}
	body .modal .modal_content .datos .context_text_teams .hist_scuderia {
		width: 60%;
	}
}
