/*  Carga Letra F1 Italica*/
@font-face {
	font-family: f1-italic;
	src: url(./Fonts-F1/Formula1-Italic.ttf);
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
	font-family: f1-italic;
	font-size: 16px;
}

html,
body {
	width: 100%;
	height: 100%;
	/* 	display: grid;
	min-height: 100vh;
	grid-template-rows: auto auto 1fr auto; */
}

/* Valores para Query hasta 450px */

/* Header */
body header {
	width: 100%;
	background-color: black;
	padding: 45px;
}

header .hero .hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	width: 100%;
	color: white;
}

header .hero .hero-img {
	width: 350px;
	display: flex;
	margin: auto;
	padding: 25px;
}

body .menu-bar {
	width: 100%;
	background-color: black;
}

body .menu-nabvar {
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	row-gap: 15px;
}

body .menu-nabvar li a {
	color: white;
	text-decoration: none;
	font-size: 1rem;
}

body nav ul li :hover {
	color: red;
	filter: brightness(1);
}

/* Main */

main {
	width: 100%;
}

main .container-news {
	width: 100%;
	padding: 15px;
}

main .container-news .news {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	row-gap: 25px;
}

main .container-news .news .card img {
	width: 100%;
	background-size: cover;
}

main .container-news .news .card .card-img-overlay {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
}

main .container-news .news .card .card-img-overlay h6 {
	font-size: 0.9rem;
}

main .container-news .news .card .card-img-overlay p {
	font-size: 0rem;
}

main .container-news .video_cont {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 25px;
	row-gap: 15px;
}

main .container-news .stadistics_cont {
	width: 100%;
}

main .container-news .video_cont iframe {
	width: 100%;
	height: 315px;
}

main .container-news .stadistics {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 25px;
	row-gap: 15px;
}

main .container-news .stadistics .pos_Pilotos,
main .container-news .stadistics .pos_Equipos {
	display: flex;
	justify-content: center;
}

main .container-news .stadistics .pos_Pilotos img {
	width: 100%;
}

main .container-news .stadistics .pos_Equipos img {
	width: 100%;
}

main .teams-list {
	overflow: hidden;
}

main .teams-list .slider-teams {
	display: flex;
	animation: scroll 40s linear infinite;
	width: calc(200px * 20);
	-webkit-animation: scroll 40s linear infinite;
	background-color: lightgrey;
	padding: 10px;
	column-gap: 15px;
}

main .teams-list .slider-teams .slider {
	width: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

main .teams-list .slider-teams .slider img {
	width: 100%;
	height: 85px;
}

footer {
	width: 100%;
	padding: 20px;
	background-color: black;
	color: white;
}

footer .title-f1 {
	width: 100%;
	text-align: center;
}

footer .title-f1 h3 {
	font-size: 2.5rem;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .redes {
	width: 100%;
	display: flex;
}

footer .redes .redes-boot {
	width: 100%;
	margin: auto;
}

footer .redes .redes-boot ul {
	margin: auto;
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
	column-gap: 45px;
}

footer .redes .redes-boot ul li {
	list-style: none;
	display: flex;
}

footer .redes .redes-boot a {
	margin: auto;
}

footer .redes .redes-boot a i {
	color: white;
	filter: drop-shadow(1px 1px 1px red);
}

/* Animacion Equipos */

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-150px * 10));
	}
}

/* Responsividad */

@media (300px <= width < 829px) {
	header .hero .hero-img {
		width: 200px;
	}

	header .hero .hero-text {
		font-size: 1.2rem;
	}

	main .container-news .video_cont iframe {
		height: 200px;
	}
}

@media (830px <= width < 915px) {
	body .menu-bar .menu-nabvar {
		flex-direction: row;
	}

	main .container-news .news .card {
		width: 85%;
	}

	main .container-news .news .card .card-img-overlay h6 {
		font-size: 1.1rem;
	}

	main .container-news .news .card .card-img-overlay p {
		font-size: 0.9rem;
	}

	main .container-news .stadistics .pos_Pilotos img,
	main .container-news .stadistics .pos_Equipos img {
		width: 90%;
	}
}

@media (916px <= width < 1023px) {
	body .menu-bar .menu-nabvar {
		flex-direction: row;
	}
	main .container-news .news .card .card-img-overlay h6 {
		font-size: 1.1rem;
	}

	main .container-news .news .card .card-img-overlay p {
		font-size: 0.9rem;
	}

	main .container-news .stadistics .pos_Pilotos img,
	main .container-news .stadistics .pos_Equipos img {
		width: 100%;
	}
}

@media (1024px <= width < 1440px) {
	body .menu-bar .menu-nabvar {
		flex-direction: row;
	}
	main .container-news .news .card .card-img-overlay h6 {
		font-size: 1.1rem;
	}

	main .container-news .news .card .card-img-overlay p {
		font-size: 0.9rem;
	}

	main .container-news .stadistics .pos_Pilotos img,
	main .container-news .stadistics .pos_Equipos img {
		width: 100%;
	}
}
